# Set paths below for executables
# NOTHING WORKS, LOL, JUST WRITE A SCRIPT DUMMY
import os

class get_bin_path(object):
    'Sets your binary directories for appending to commands'
    
    #init
    def __init__(self):
        #lastools
        self.initialized=True
        self.lastoolspath="C:\\software\\lastools\\bin"
        
    def lastools(self):
        print self.lastoolspath
        
class lastools(object):
    'Sets lastools binary commands'
    
    #init
    def __init__(self):
        self.binpath="C:\\software\\lastools\\bin"
        
    def las2las(self):
        return self.binpath+os.sep+'las2las.exe'